langchain
langchain-groq
langchain-core
langchain_community
python-dotenv
pydantic
pypdf
langchain-classic
langchain-text-splitters
openai
tiktoken
langchain_openai
chromadb
langchain-chroma
langchain-google-genai
langchain-milvus
pymilvus[milvus_lite]
milvus-lite
tiktoken
json-repair