langchain
langchain-groq
langchain-core
langchain_community
python-dotenv
pydantic
pypdf
langchain-classic
langchain-text-splitters
openai
tiktoken
langchain_openai
chromadb
langchain-chroma
langchain-google-genai
langchain-milvus
pymilvus[milvus_lite]
milvus-lite
tiktoken
json-repair
matplotlib
pandas
seaborn
scikit-learn
rank-bm25 
sentence-transformers 
numpy
faiss-cpu
rank_bm25
langchain-unstructured[local]
# ragas 0.4.3 depends on scikit-network, which does not support Python 3.14+
ragas==0.4.3; python_version < "3.13"
bedrock_agentcore
# bedrock-agentcore-starter-toolkit
ddgs
langchain_mcp_adapters